<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    
    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
	    <center><img src="https://i.imgsafe.org/ef6acae.png" width="75" height="75"></img></center>
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            {% for page in site.pages_list %}
	    &nbsp;&nbsp;&nbsp;
	    
	    <small><a href="{{ page[1]  }}">{{ page[0] }}</a></small>
	    {% endfor %}
          </h3>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>

    {% include comments.html %}
    {% include google_analytics.html %}
  </body>
</html>
