---
layout: default
---

{% assign author = site.authors[page.author] %}
<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date"> <a href="{{author.github}}">{{author.display_name}}</a>, {{ page.date | date_to_string }}</span>
  {{ content }}
  <div class="meta">
  <img src={{author.img}} width=30 height=30></img></span>
  <span class="author"><i><b>Autor</b></i>: {{ author.display_name }}</br>
  <span class="email"><i><b>Email</b></i>: <a href="mailto:{{author.email}}">{{author.email}}</a> </span></br>
  <span class="web"><i><b>Web</b></i>: <a href="{{author.github}}">{{author.web}}</a></span></br>
  <span class="twitter"><i><b>Twitter</b></b></i>: <a href="{{author.twitter}}">{{author.twitter}}</a></span></br>
  <span class="github"><i><b>Git</b></i>: <a href="{{author.github}}">{{author.github}}</a></span></br>
  <span class="pgp"><i><b>Clave pública (PGP)</b></i>: <a href="{{author.pgp}}">{{author.pgpid}}</a></span></br>
  </div>
</div>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
